<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.stums.mapper.GradeCustomMapper" >
	<select id="findGradeViewListByStu" resultType="gradeView" parameterType="Integer">
		select * from grade_view where grade_view.stu_sid=#{id}
	</select>
	
	<select id="findGradeViewListByCourse" resultType="gradeView" parameterType="Integer">
		select * from grade_view where grade_view.course_id=#{id}
	</select>
	
	<insert id="addGrade" parameterType="grade">
		insert into grade(stu_sid,course_id,usual_grade,test_grade,final_grade) VALUES(#{stu_sid},#{course_id},#{usual_grade},#{test_grade},#{final_grade})
	</insert>
</mapper>